
@{
    ViewBag.Title = "AreasOfFocus";
}

<br /><br /><br />
<div style="margin-left:40px">
    <p><h1>A Non Government Organisation registered in Bulgaria</h1></p>
    <br />
    <p>
        The key aims of Phoenix Inspire:<br />
        1. To provide training opportunities for disadvantaged young adults (18 to 25 years of age) from Bulgaria (particularly those of the Roma community but not solely) to become professional baker/pastry chefs and service personnel.<br />
        2. To create a first class training centre in Bulgaria<br />
        3. To help successful trainees to gain meaningful employment, a better quality of life, become economically active and responsible citizens as a result of the training opportunities.<br />
        4. To create employment opportunities for the successful trainees<br />
        5. To provide financial support so that successful and committed trainees can continue their studies at suitable providers here in Bulgaria or elsewhere, if they wish<br />
        6. Establish positive relationships and friendships with colleges across Europe to enable trainees and members of staff from participating establishments to improve the awareness of other cultures, languages and opportunities<br />
        7. Establish professional and beneficial relationships with likeminded organizations
    </p>

    <p>
        Thereafter, Phoenix Inspire will work with other organisations to:<br />
        8. Create new opportunities which lead to the creation of Phoenix Cafes and Bakeries in Bulgaria in order to support the key aims identified above 1 - 7<br />
        9. Expand the number of Phoenix Cafes and Bakeries in Bulgaria through agreements with each agreement designed to safe guard and ensure that each operation follows the philosophy and principles by employing and training young adults from disadvantaged communities<br />
        10. Expand the network of Phoenix Cafes and Bakeries in Bulgaria and the Balkans
    </p>

    <p>
        Thereafter, Phoenix Inspire will work with other organisations to:<br />
        11. Acquire government and or European grants to create a bakery/pastry training center to meet the needs of the trainees, the awarding body, the government and those who provide funds to do so<br />
        12. Work with partners to acquire equipment and financial support the creation of the bakery/pastry training center<br />
        13. Provide training opportunities to enable practicing bakers/chefs and service staff to develop and improve their skills to a higher level<br />
        14. Provide opportunities for practicing bakers/chefs and service staff to gain recognized qualifications at a higher level<br />
        15. Raise funds through appropriate commercial activities to support the bakery/pastry training center<br />
        16. Contribute to the raising of standards in hospitality and catering in Bulgaria by increasing the skills and knowledge of practicing bakers/chefs and service staff<br />
        17. Play an active part in improving the &lsquo;tourist experience&rsquo; of visitors to Bulgaria by raising the skills and knowledge of those who provide food and drink<br />
        18. Promote &lsquo;Europe&rsquo; and &lsquo;Europeanism&rsquo; positively through exchange opportunities, seminars, visiting speakers and training programmes provided at the bakery/pastry training center<br />
        19. Where possible work to create alternative employment opportunities at the bakery/pastry training center<br />
        20. Positively contribute to Bulgaria and its economy in general<br />
        21. Become an proactive member of the Chamber of Crafts Professionals of Bulgaria and by doing so aspire to its aims and objects<br />
        22. Work towards excellence in all that it does at the bakery/pastry training center<br />
        23. Become a beacon of excellence and replicate the model in other parts of the Balkans<br />
    </p>
</div>
