
@{
    ViewBag.Title = "Gallery";
}

<br /><br /><br />
<h3>Gallery</h3>
<div class="highslide-gallery" style="margin-left:40px">
    <ul>
        <li>
            <a href="highslide/images/large/friendssortingouttoysandclothes.JPG" class="highslide"
               title=""
               onclick="return hs.expand(this, config1 )">
                <img src="highslide/images/thumbs/friendssortingouttoysandclothes.JPG" alt="" />
            </a>
        </li>
        <li>
            <a href="highslide/images/large/FundraisingdinneratGrimsbyCollegeFeburary2009.JPG" class="highslide"
               title=""
               onclick="return hs.expand(this, config1 )">
                <img src="highslide/images/thumbs/FundraisingdinneratGrimsbyCollegeFeburary2009.JPG" alt="" />
            </a>
        </li>
        <li>
            <a href="highslide/images/large/10989173_905834362814734_6700622956886927365_n.jpg" class="highslide"
               title=""
               onclick="return hs.expand(this, config1 )">
                <img src="highslide/images/thumbs/10989173_905834362814734_6700622956886927365_n.jpg" alt="" />
            </a>
        </li>
        <li>
            <a href="highslide/images/large/11259192_905833442814826_5812327592176496175_n.jpg" class="highslide"
               title=""
               onclick="return hs.expand(this, config1 )">
                <img src="highslide/images/thumbs/11259192_905833442814826_5812327592176496175_n.jpg" alt="" />
            </a>
        </li>
        <li>
            <a href="highslide/images/large/11082386_905833752814795_7224646067152378577_o.jpg" class="highslide"
               title=""
               onclick="return hs.expand(this, config1 )">
                <img src="highslide/images/thumbs/11082386_905833752814795_7224646067152378577_o.jpg" alt="" />
            </a>
        </li>
        <li>
            <a href="highslide/images/large/10995336_905833276148176_4501114270718490327_n.jpg" class="highslide"
               title=""
               onclick="return hs.expand(this, config1 )">
                <img src="highslide/images/thumbs/10995336_905833276148176_4501114270718490327_n.jpg" alt="" />
            </a>
        </li>
        <li>
            <a href="highslide/images/large/DSC_0048.JPG" class="highslide"
               title=""
               onclick="return hs.expand(this, config1 )">
                <img src="highslide/images/thumbs/DSC_0048.JPG" alt="" />
            </a>
        </li>
        <li>
            <a href="highslide/images/large/DSC_0026.JPG" class="highslide"
               title=""
               onclick="return hs.expand(this, config1 )">
                <img src="highslide/images/thumbs/DSC_0026.JPG" alt="" />
            </a>
        </li>
        <li>
            <a href="highslide/images/large/FriendsCyrusandPervinTodiwalaofCafeSpice.JPG" class="highslide"
               title=""
               onclick="return hs.expand(this, config1 )">
                <img src="highslide/images/thumbs/FriendsCyrusandPervinTodiwalaofCafeSpice.JPG" alt="" />
            </a>
        </li>
        <li>
            <a href="highslide/images/large/PresentscollectedattheChildrensHomeinNovoSelo.JPG" class="highslide"
               title=""
               onclick="return hs.expand(this, config1 )">
                <img src="highslide/images/thumbs/PresentscollectedattheChildrensHomeinNovoSelo.JPG" alt="" />
            </a>
        </li>
        <li>
            <a href="highslide/images/large/DSC_0005.JPG" class="highslide"
               title=""
               onclick="return hs.expand(this, config1 )">
                <img src="highslide/images/thumbs/DSC_0005.JPG" alt="" />
            </a>
        </li>
        <li>
            <a href="highslide/images/large/Andsotheyshouldbeitwasexcellent.JPG" class="highslide"
               title=""
               onclick="return hs.expand(this, config1 )">
                <img src="highslide/images/thumbs/Andsotheyshouldbeitwasexcellent.JPG" alt="" />
            </a>
        </li>
        <li>
            <a href="highslide/images/large/DSC_0076.JPG" class="highslide"
               title=""
               onclick="return hs.expand(this, config1 )">
                <img src="highslide/images/thumbs/DSC_0076.JPG" alt="" />
            </a>
        </li>
        <li>
            <a href="highslide/images/large/Allthreewiththeirwork.JPG" class="highslide"
               title=""
               onclick="return hs.expand(this, config1 )">
                <img src="highslide/images/thumbs/Allthreewiththeirwork.JPG" alt="" />
            </a>
        </li>
        <li>
            <a href="highslide/images/large/DSC_0003.JPG" class="highslide"
               title=""
               onclick="return hs.expand(this, config1 )">
                <img src="highslide/images/thumbs/DSC_0003.JPG" alt="" />
            </a>
        </li>
        <li>
            <a href="highslide/images/large/DSC06971.JPG" class="highslide"
               title=""
               onclick="return hs.expand(this, config1 )">
                <img src="highslide/images/thumbs/DSC06971.JPG" alt="" />
            </a>
        </li>
        <li>
            <a href="highslide/images/large/ChildrenwiththeirpresentsinVruvallcalmtoo.JPG" class="highslide"
               title=""
               onclick="return hs.expand(this, config1 )">
                <img src="highslide/images/thumbs/ChildrenwiththeirpresentsinVruvallcalmtoo.JPG" alt="" />
            </a>
        </li>
        <li>
            <a href="highslide/images/large/DSC_0011.JPG" class="highslide"
               title=""
               onclick="return hs.expand(this, config1 )">
                <img src="highslide/images/thumbs/DSC_0011.JPG" alt="" />
            </a>
        </li>
        <li>
            <a href="highslide/images/large/presents2andkidswithnewbootson.JPG" class="highslide"
               title=""
               onclick="return hs.expand(this, config1 )">
                <img src="highslide/images/thumbs/presents2andkidswithnewbootson.JPG" alt="" />
            </a>
        </li>
    </ul>
    <div style="clear:both"></div>
</div>


