@using WebGrease.Css.Extensions


@{
    ViewBag.Title = "Home";
}
    <!-- Custom CSS -->
<link href="css/modern-business.css" rel="stylesheet">

 <!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('/Images/slider/people.jpg');"></div>        
            <div class="carousel-caption">
                <h2></h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('/Images/slider/Social%20workers%20present%20cert%20to%20Phoenix%20Inspire.JPG');"></div>
            <div class="carousel-caption">
                <h2></h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('/Images/slider/DSC_0006.JPG');"></div>   
            <div class="carousel-caption">
                <h2></h2>
            </div>
        </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>
<!-- Page Content -->
<div class="container">
    <div class="col-lg-12">
        <h2 class="page-header">To train 50 adults in the poorest area of Bulgaria</h2>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <td>
                    <script type="text/javascript" src="http://www.globalgiving.org/javascript/widget/widget.js">  { "projectids" : "22304", "ggtid" : "62B4BA11FC61E42FF2D54D260304F08F"  }  </script>
                </td>

                <td>
                    Phoenix Inspire will teach and develop valuable pastry, bakery and service skills to disadvantaged young adults through a social enterprise in north west Bulgaria. The young adults will learn and understand how to make a wide range of quality food products and how to serve customers correctly so that when they leave the training program they will have the necessary skills to progress into employment. <br /><br />
                    Phoenix Inspire offers to train unemployed young adults to become basic pastry chefs, bakers and food service personnel. The one year training program will include skill development and underpinning knowledge. In our social enterprise, trainees practice and hone their skills under the guidance of professionals. The trainees will work a full week and be paid appropriately, thus preparing them for future employment. This program aims to break the cycle of poverty & despair.<br /><br />
                    This long term sustainable project will train as many as 50 young adults. After completing the Phoenix Inspire training program, it is virtually guaranteed that each adult will have a better life. Their family and their children will see their future differently. This is a long term project to solve a historically debilitating issue. Applied 'live' learning, offered here, is a new concept particularly for Bulgaria. This project will stimulate a different method of teaching and training.
                </td>
            </tr>
        </tbody>
    </table>
    
    <!-- Features Section -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Creating Opportunities, Inspiring Success for young adults from disadvantaged groups through skills development and employment</h2>
        </div>
        <div class="col-md-6">
            <p>
                Phoenix Inspire is a Bulgarian registered non government organisation (NGO) which raises funds to create opportunities to improve the lives and prospects of disadvantaged young adults in Bulgaria.  We believe that a better and independent life is one which is based upon skills and knowledge and will which lead to employment.
                ‘Give a man a fish and you feed him for a day, teach him to fish and you feed him for a life time.’  Maimonides 
            </p>
            
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="~/Images/cake.jpg" alt="">
        </div>
    </div>
    <!-- /.row -->
    <hr>
    <!-- Call to Action Section -->
    @*<div class="well">
        <div class="row">
            <div class="col-md-8">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
            </div>
        </div>
    </div>*@
</div>

 <!-- /.container -->

<!-- jQuery -->
@*<!--<script src="js/jquery.js"></script>-->*@
@*<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->*@
<!-- Bootstrap Core JavaScript -->
@*<!--<script src="js/bootstrap.min.js"></script>-->*@
<!-- Script to Activate the Carousel -->
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>
