
@{
    ViewBag.Title = "Partnerships";
}

<h2>Partnerships</h2>

<div id="content">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Our partners
            </h1>            
        </div>
    </div>

    <div class="row">
        <div class="col-md-7">
            <a href="portfolio-item.html">
                <img class="img-responsive img-hover" style="background-color:white" src="http://bbba.bg/wp-content/uploads/2014/12/BBBA-logo-3-retina.png" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>British Bulgarian Business Association</h3>
            <h4>BBBA</h4>
            <p> BBBA  was launched in January 2015, with full support from the British Embassy, to promote business relations between the United Kingdom and the Republic of Bulgaria, and has in seven months attracted in excess of 100 members from all aspects of British and Bulgarian Business.</p>
            <a class="btn btn-primary" href="http://bbba.bg/about-the-bbba/">View Partner</a>
        </div>
    </div>
</div>