@using WebGrease.Css.Extensions
@using Phoenix.Models

@model List<Events>
@{
    ViewBag.Title = "Home";
}

<h2> Phoenix Inspire</h2>

<hr />
<hr />
<hr />
<hr />
<hr />
<hr />
<hr />
<hr />
<h2> Phoenix Inspire</h2>

@*<p>
        @Html.ActionLink("Create New", "Create");
    </p>*@


<div id="eventsContainer">
    @foreach (var item in Model)
    {
        @Html.Partial("~/Views/Shared/_Event.cshtml", item)
    }
</div>


