@model Phoenix.Models.Interview

<link href="@Url.Content("~/css/templateInterview/style.css")" rel="stylesheet">

<div id="content">
    <h2>@Html.DisplayFor(model => model.Title)</h2>
    <div class="post_details">
        <p>Posted on @Html.DisplayFor(model => model.DatePublic) </p>
    </div>
    <p>@Html.DisplayFor(model => model.Description)</p>
</div>



