@using WebGrease.Css.Extensions
@using Phoenix.Models

@*@model PhoenixBootstrap.ViewModels.InterviewViewModel.ViewModel*@
@model List<Interview>


@{
    ViewBag.Title = "Interviews";
}


<div id="wrap">
    <br /><br /><br /><br /><br /><br />
    <h2> Phoenix Inspire Past Events</h2>

    @*<p>
            @Html.ActionLink("Create New", "Create");
        </p>*@

    <div id="bg_top">
        <div id="middle_wrap">
            @foreach (var item in Model)
            {
                @Html.Partial("~/Views/Shared/_Interview.cshtml", item)
            }
        </div>
    </div>
</div>




 

