@using WebGrease.Css.Extensions
@using Phoenix.Models

@*@model PhoenixBootstrap.ViewModels.InterviewViewModel.ViewModel*@
@model List<Interview>


@{
    ViewBag.Title = "Interviews";
}

<hr />
<hr />
<hr />
<hr />
<hr />
<hr />
<hr />
<hr />
<h2> Phoenix Inspire</h2>

@*<p>
    @Html.ActionLink("Create New", "Create");
</p>*@


<div id="interviewsContainer">
    @foreach (var item in Model)
    {
        @Html.Partial("~/Views/Shared/_Interview.cshtml", item)
    }
</div>


 

